:root{
--bg:#080b10;
--panel:#121820;
--red:#d71920;
--text:#f4f6f8;
--gray:#aab1b9;
}

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,Helvetica,sans-serif;
}


body{
background:var(--bg);
color:var(--text);
}


.container{
width:90%;
max-width:1200px;
margin:auto;
}


header{
border-bottom:1px solid #222;
padding:25px 0;
}


.nav{
display:flex;
justify-content:space-between;
align-items:center;
}


.brand img{
height:45px;
}


nav a{
color:white;
text-decoration:none;
margin-left:25px;
font-size:14px;
}



.hero{

min-height:85vh;
display:flex;
align-items:center;

background:
linear-gradient(
90deg,
rgba(8,11,16,.95),
rgba(8,11,16,.55)
),
url("assets/images/hero-industrial.jpg");

background-size:cover;
background-position:center;

}


.hero-content{
max-width:800px;
}


.accent{
height:5px;
width:90px;
background:var(--red);
margin-bottom:30px;
}


h1{
font-size:60px;
line-height:1.1;
}


h2{
color:var(--red);
margin-top:20px;
}


p{
color:var(--gray);
font-size:18px;
margin-top:20px;
}


.btn{

display:inline-block;
margin-top:35px;
background:var(--red);
padding:15px 35px;
color:white;
text-decoration:none;
font-weight:bold;

}



.section{

padding:80px 0;

}


.cards{

display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:25px;
margin-top:40px;

}


.card{

background:var(--panel);
border:1px solid #252c35;
padding:35px;

}


.card h3{

font-size:22px;

}


.dark-section{

background:#10151c;
padding:80px 0;

}


.process{

margin-top:35px;
border-left:5px solid var(--red);
padding:25px;
font-size:28px;

}



.rfq{

padding:90px 20px;
text-align:center;
background:#111820;

}



footer{

padding:35px;
text-align:center;
color:#777;

}



@media(max-width:700px){

h1{
font-size:38px;
}

nav{
display:none;
}

}
